---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% if site.talkmap_link == true %}
<p class="wordwrap"><a href="{{ base_path }}/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% comment %} newest first, grouped by year {% endcomment %}
{% assign written_year = '' %}
{% for post in site.talks reversed %}
  {% assign year = post.date | date: '%Y' %}
  {% if year != written_year %}
    <h2 id="y{{ year }}" class="archive__subtitle">{{ year }}</h2>
    {% assign written_year = year %}
  {% endif %}
  {% include archive-single-talk.html %}
{% endfor %}
